
/***** NAVIGATION *****/
/*****            *****/


.main-nav li {
	list-style: none;
	margin-left: -40px;

	@include tablet {
		display: inline-block;
		@extend %centered;
		float: none;
		width: 125px;
	}

	@include desktop {
		@extend %flotleft;
	 	margin-top: 20px;
	 	margin-right: 20px;
	}
}


.main-nav {
	@include tablet {
		@extend %centered;
	}

	@include desktop {
		@extend %floatright;
	}
}

.main-header h1 {
	@include tablet {
		padding-top: 40px;
		margin-bottom: -10px;
	}

	@include desktop {
		@extend %flotleft;
	}
}


header {
	@include tablet {
		padding-bottom: 30px;
	}
}


.main-nav a {
	@extend %centered;
	@extend %decoration;
	background-color: $color-background;
	font-weight: 600;
	color: $color-text-heading;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: $font-size-075em;
	margin-left: -20px;
	width: 280px;
	display: block;
	margin: auto;
	margin: auto;
	margin-top: 5px;

	@include tablet {
		background-color: transparent;
		@extend %centered;
		width: 100px;
		margin-bottom: -20px;
		font-size: $font-size-09em;
	}

	@include desktop {
		padding: 0;
	 	margin-top: 40px;
	}
}






