
// Center text

%centered {
	text-align: center;
}

// Text to left

%leftside {
	text-align: left;
}

// Float to right

%floatright {
	float: right;
}

// Float to left

%floatleft {
	float: left;
}

// Text decoration - none

%decoration {
	text-decoration: none;
}